<nav class="bg-black/90 backdrop-blur-md text-white py-5 px-8 sticky top-0 z-50 border-b border-gray-800">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-2xl font-black tracking-tighter uppercase italic">
      GYM<span class="text-orange-600">CONNECT</span>
    </a>
    
    

    <button routerLink="/login" class="border-2 border-white hover:bg-white hover:text-black text-white px-6 py-2 rounded-full text-xs font-black uppercase transition-all">
      Login
    </button>
  </div>
</nav>