<mat-toolbar color="primary" class="navbar">
  <span class="logo" routerLink="/">GYMCONNECT</span>
  
  <span class="spacer"></span>

  <div class="nav-links">
    <!--<a mat-button routerLink="/clases">Clases</a>-->
    <a *ngIf="authService.isLoggedIn()" 
     routerLink="/mis-reservas" 
     routerLinkActive="text-orange-600"
     class="text-white uppercase font-black italic tracking-tighter hover:text-orange-600 transition-colors flex items-center gap-2">
    <span class="w-2 h-2 bg-orange-600 rounded-full animate-pulse"></span>
    Mis Reservas
    </a>

    <ng-container *ngIf="!authService.isLoggedIn()">
      <a mat-raised-button color="accent" routerLink="/login">
        Iniciar Sesión
      </a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn()">
      <span class="user-name">Hola, {{ authService.getUserName() }}</span>
      <button mat-stroked-button color="warn" (click)="onLogout()">
        Cerrar Sesión
      </button>
    </ng-container>
  </div>
</mat-toolbar>