<div class="min-h-screen bg-[#0a0a0a] pt-32 pb-12 px-6">
  <div class="max-w-2xl mx-auto bg-[#1a1a1a] rounded-3xl p-8 border border-gray-800 shadow-2xl">
    <h2 class="text-3xl font-black text-white uppercase italic mb-8">
  {{ isEditMode ? 'Editar' : 'Registrar' }} 
  <span class="text-orange-600">Instructor</span>
</h2>

<button type="submit" ...>
  {{ isEditMode ? 'Actualizar Cambios' : 'Guardar Instructor' }}
</button>

    <form [formGroup]="instructorForm" (ngSubmit)="guardar()" class="space-y-6">
      <div>
        <label class="text-[10px] text-gray-500 uppercase font-black mb-2 block">Nombre y Apellido</label>
        <input formControlName="nomApe" type="text" class="w-full bg-[#111] border border-gray-800 rounded-xl p-4 text-white focus:border-orange-600 outline-none transition-all">
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="text-[10px] text-gray-500 uppercase font-black mb-2 block">Especialidad</label>
          <input formControlName="especialidad" type="text" placeholder="Ej: HIIT, Yoga..." class="w-full bg-[#111] border border-gray-800 rounded-xl p-4 text-white focus:border-orange-600 outline-none transition-all">
        </div>
        <div>
          <label class="text-[10px] text-gray-500 uppercase font-black mb-2 block">Email de Contacto</label>
          <input formControlName="email" type="email" class="w-full bg-[#111] border border-gray-800 rounded-xl p-4 text-white focus:border-orange-600 outline-none transition-all">
        </div>
      </div>

      <div>
        <label class="text-[10px] text-gray-500 uppercase font-black mb-2 block">URL Imagen (Opcional)</label>
        <input formControlName="imagen" type="text" class="w-full bg-[#111] border border-gray-800 rounded-xl p-4 text-white focus:border-orange-600 outline-none transition-all">
      </div>

      <div class="flex gap-4 pt-6">
        <button type="button" routerLink="/perfil/gestion-instructores" class="flex-1 bg-gray-800 text-white font-black py-4 rounded-xl uppercase text-xs hover:bg-gray-700 transition-all">Cancelar</button>
        <button type="submit" [disabled]="instructorForm.invalid" class="flex-1 bg-orange-600 text-white font-black py-4 rounded-xl uppercase text-xs hover:bg-orange-700 transition-all disabled:opacity-50">Guardar Instructor</button>
      </div>
    </form>
  </div>
</div>